<!DOCTYPE html>
<html>
<head>
  <title>
    WAAVAAW
  </title>
  <style>
    html {
      --solarized-base03: #002b36;
      --solarized-base02: #073642;
      --solarized-base01: #586e75;
      --solarized-base00: #657b83;
      --solarized-base0: #839496;
      --solarized-base1: #93a1a1;
      --solarized-base2: #eee8d5;
      --solarized-base3: #fdf6e3;
      --solarized-yellow: #b58900;
      --solarized-orange: #cb4b16;
      --solarized-red: #dc322f;
      --solarized-magenta: #d33682;
      --solarized-violet: #6c71c4;
      --solarized-blue: #268bd2;
      --solarized-cyan: #2aa198;
      --solarized-green: #859900;
    }
    html, body, #app {
      --app-background-color: var(--solarized-base2);
      background-color: var(--app-background-color);
      color: var(--solarized-base00);
      margin: 0;
      padding: 0;
      font-family: Helvetica;
      text-align: center;
    }
    #app {
      --app-header-height: 120px;
    }
    h1 {
      color: var(--solarized-base01);
      margin: 20px 0px;
    }
    h3 {
      margin: 18px 0px;
    }
    #canvas {
      --canvas-background-color: var(--solarized-base3);
      --canvas-margin: 30px;
      background-color: var(--canvas-background-color);
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      position: fixed;
      top: var(--app-header-height);
      left: var(--canvas-margin);
      height: calc(100% - var(--app-header-height) - var(--canvas-margin));
      width: calc(100% - 2 * var(--canvas-margin));
    }
    .no-select {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .node {
      cursor: move;
    }
    .destroy-button {
      fill: var(--solarized-base01);
      cursor: pointer;
    }
    .destroy-button:hover {
      fill: var(--solarized-base03);
    }
  </style>
  <script src='https://unpkg.com/vue/dist/vue.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
</head>
<body>
  <div id='app'>

    <h1>
      WAAVAAW
    </h1>
    <h3>
      Web Audio API Visualizer And Audio Workstation
    </h3>

    <svg id='canvas' viewbox='-100 -100 200 200'>
      <template v-for='node in sortedNodes'>
        <destination
          v-if='node.type === destinationType'
          v-bind:key='node.id'
          v-bind:height.sync='node.height'
          v-bind:id='node.id'
          v-bind:name='node.name'
          v-bind:node='node.node'
          v-bind:width.sync='node.width'
          v-bind:x.sync='node.x'
          v-bind:y.sync='node.y'
          v-on:destroy='destroyNode(node.id)'/>
        <oscillator
          v-if='node.type === oscillatorType'
          v-bind:key='node.id'
          v-bind:frequency='node.frequency'
          v-bind:height.sync='node.height'
          v-bind:id='node.id'
          v-bind:node='node.node'
          v-bind:width.sync='node.width'
          v-bind:x.sync='node.x'
          v-bind:y.sync='node.y'
          v-on:destroy='destroyNode(node.id)'/>
      </template>
      <connection
        v-for='connection in connections'
        v-bind:key='connection.id'
        v-bind:id='connection.id'
        v-bind:source-id.sync='connection.sourceId'
        v-bind:source='nodes[connection.sourceId]'
        v-bind:target-id.sync='connection.targetId'
        v-bind:target='nodes[connection.targetId]'
        v-on:destroy='disconnect(connection.sourceId, connection.targetId)'/>
    </svg>

  </div>

  <script>
    var AUDIO_CONTEXT = new window.AudioContext()
    var DESTINATION_TYPE = 'destination'
    var OSCILLATOR_TYPE = 'oscillator'

    var Connection = {
      props: {
        id: { type: String, required: true },
        sourceId: { type: String, required: true },
        source: { type: Object, required: true },
        targetId: { type: String, required: true },
        target: { type: Object, required: true }
      },
      template: (
        '<g>' +
        '<path v-bind:d="pathData" v-bind:style="style"/>' +
        '<text class="destroy-button no-select" alignment-baseline="middle" font-size="8px" text-anchor="middle" v-bind:x="destroyButtonX" v-bind:y="destroyButtonY" v-on:click="$emit(\'destroy\')"> &nbsp; x &nbsp; </text>' +
        '</g>'
      ),

      data: function () {
        return {
          destroyButtonPadding: 0,
          style: {
            fill: 'none',
            stroke: 'var(--solarized-base02)',
            strokeWidth: 0.5
          }
        }
      },
      computed: {
        destroyButtonX: function () {
          return (this.source.x + this.target.x) / 2 + this.destroyButtonPadding
        },
        destroyButtonY: function () {
          return (this.source.y + this.target.y) / 2 - this.destroyButtonPadding
        },
        pathData: function () {
          var x1 = this.source.x
          var x2 = this.target.x
          var y1 = this.source.y + this.source.height / 2
          var y2 = this.target.y - this.target.height / 2
          var cy = (y1 + y2) / 2
          return (
            'M' + x1 + ',' + y1 +
            ' C' + x1 + ',' + cy + ' ' + x2 + ',' + cy +
            ' ' + x2 + ',' + y2
          )
        }
      },
      mounted: function () {
        this.source.node.connect(this.target.node)
      },
      beforeDestroy: function () {
        this.source.node.disconnect(this.target.node)
      }
    }

    var Node = {
      props: {
        canDestroy: { type: Boolean, default: true },
        fill: { type: String, default: 'var(--canvas-background-color)' },
        height: { type: Number, required: true },
        label: { type: String, required: true },
        width: { type: Number, required: true },
        x: { type: Number, required: true },
        y: { type: Number, required: true }
      },
      template: (
        '<g class="node" v-on:mousedown="handleMousedown" v-on:mouseleave="handleMouseleave" v-on:mousemove="handleMousemove" v-on:mouseup="handleMouseup">' +
        '<rect v-bind:height="height" v-bind:width="width" v-bind:x="x" v-bind:y="y" v-bind:style="rectStyle"/>' +
        '<text class="no-select" alignment-baseline="middle" v-bind:font-size="height / 2" text-anchor="middle" v-bind:x="x" v-bind:y="y"> {{ label }} </text>' +
        '<text v-if="canDestroy" class="destroy-button no-select" alignment-baseline="middle" font-size="6px" text-anchor="middle" v-bind:x="destroyButtonX" v-bind:y="destroyButtonY" v-on:click="$emit(\'destroy\')"> &nbsp; x &nbsp; </text>' +
        '</g>'
      ),
      data: function () {
        return {
          clientScaleFactor: 0,
          destroyButtonPadding: 3,
          isDragging: false,
          oldClientX: 0,
          oldClientY: 0,
          rectStyle: {
            fill: this.fill,
            fillOpacity: '0.3',
            stroke: 'var(--solarized-base02)',
            strokeWidth: 0.3,
            transform: 'translate(-50%, -50%)'
          }
        }
      },
      computed: {
        destroyButtonX: function () {
          return this.x + this.width / 2 + this.destroyButtonPadding
        },
        destroyButtonY: function () {
          return this.y - this.height / 2 - this.destroyButtonPadding
        }
      },
      methods: {
        handleMousedown: function (event) {
          this.isDragging = true
          this.oldClientX = event.clientX
          this.oldClientY = event.clientY
          var boundingClientRect = this.$el.parentNode.getBoundingClientRect()
          var shorterSide = Math.min(boundingClientRect.height, boundingClientRect.width)
          this.clientScaleFactor = 200 / shorterSide
        },
        handleMouseleave: function (event) {
          this.isDragging = false
        },
        handleMousemove: function (event) {
          if (this.isDragging) {
            this.$emit('update:x', this.x + this.clientScaleFactor * (event.clientX - this.oldClientX))
            this.$emit('update:y', this.y + this.clientScaleFactor * (event.clientY - this.oldClientY))
            this.oldClientX = event.clientX
            this.oldClientY = event.clientY
          }
        },
        handleMouseup: function (event) {
          this.isDragging = false
        }
      }
    }

    var Destination = {
      props: {
        height: { type: Number, required: true },
        id: { type: String, required: true },
        name: { type: String, required: true },
        node: { type: window.AudioDestinationNode, required: true },
        width: { type: Number, required: true },
        x: { type: Number, required: true },
        y: { type: Number, required: true }
      },
      template: (
        '<node v-bind:canDestroy="false" fill="var(--solarized-red)" v-bind:height="height" v-bind:label="name" v-bind:width="width" v-bind:x="x" v-bind:y="y" v-on:destroy="$emit(\'destroy\')" v-on:update:x="handleUpdateX" v-on:update:y="handleUpdateY"/>'
      ),
      data: function () {
        return {
          style: {
            transform: 'translate(-50%, -50%)'
          }
        }
      },
      methods: {
        handleUpdateX: function (newValue) {
          this.$emit('update:x', newValue)
        },
        handleUpdateY: function (newValue) {
          this.$emit('update:y', newValue)
        }
      },
      components: {
        'node': Node
      }
    }

    var Oscillator = {
      props: {
        frequency: { type: Number, required: true },
        height: { type: Number, required: true },
        id: { type: String, required: true },
        node: { type: window.OscillatorNode, required: true },
        width: { type: Number, required: true },
        x: { type: Number, required: true },
        y: { type: Number, required: true }
      },
      template: (
        '<node fill="var(--solarized-green)" v-bind:height="height" v-bind:label="frequency + \' Hz\'" v-bind:width="width" v-bind:x="x" v-bind:y="y" v-on:destroy="$emit(\'destroy\')" v-on:update:x="handleUpdateX" v-on:update:y="handleUpdateY"/>'
      ),
      data: function () {
        return {
          style: {
            transform: 'translate(-50%, -50%)'
          }
        }
      },
      methods: {
        handleUpdateX: function (newValue) {
          this.$emit('update:x', newValue)
        },
        handleUpdateY: function (newValue) {
          this.$emit('update:y', newValue)
        }
      },
      mounted: function () {
        this.node.start(0)
      },
      beforeDestroy: function () {
        this.node.stop()
      },
      components: {
        'node': Node
      }
    }

    window.vm = new Vue({
      el: '#app',
      data: function () {
        return {
          audioContext: AUDIO_CONTEXT,
          connections: {},
          destinationType: DESTINATION_TYPE,
          drawOrder: ['destination'],
          oscillatorType: OSCILLATOR_TYPE,
          nodes: {
            destination: {
              height: 10,
              id: 'destination',
              name: 'Destination',
              node: AUDIO_CONTEXT.destination,
              type: DESTINATION_TYPE,
              width: 50,
              x: 0,
              y: 50
            }
          }
        }
      },
      computed: {
        sortedNodes: function () {
          var component = this
          var nodes = _.values(component.nodes)
          return _.sortBy(
            nodes,
            function (node) {
              return component.drawOrder.indexOf(node.id)
            }
          )
        }
      },
      methods: {
        createOscillator: function (oscillatorInfo) {
          var oldNodeId = this.findOldNodeId(oscillatorInfo.id)
          if (!oldNodeId) {
            Vue.set(this.nodes, oscillatorInfo.id, Object.assign(oscillatorInfo, {
              node: this.audioContext.createOscillator(oscillatorInfo.frequency),
              type: OSCILLATOR_TYPE
            }))
            this.drawOrder.push(oscillatorInfo.id)
          }
        },
        connect: function (sourceId, targetId) {
          var oldConnectionId = this.findOldConnectionId(sourceId, targetId)
          if (!oldConnectionId) {
            var newConnectionId = sourceId + '_to_' + targetId
            Vue.set(this.connections, newConnectionId, {
              id: newConnectionId,
              sourceId: sourceId,
              targetId: targetId
            })
          }
        },
        destroyNode: function (nodeId) {
          var component = this
          _.values(component.connections).forEach(function (connection) {
            if (connection.sourceId === nodeId || connection.targetId === nodeId) {
              component.disconnect(connection.sourceId, connection.targetId)
            }
          })
          if (this.nodes[nodeId]) {
            Vue.delete(this.nodes, nodeId)
          }
        },
        disconnect: function (sourceId, targetId) {
          var oldConnectionId = this.findOldConnectionId(sourceId, targetId)
          if (oldConnectionId) {
            Vue.delete(this.connections, oldConnectionId)
          }
        },
        findOldConnectionId: function (sourceId, targetId) {
          return _.findKey(
            this.connections,
            function (connection) {
              return connection.sourceId === sourceId && connection.targetId === targetId
            }
          )
        },
        findOldNodeId: function (nodeId) {
          return _.findKey(
            this.nodes,
            function (node) {
              return node.id === nodeId
            }
          )
        }
      },
      mounted: function () {
        this.createOscillator({
          frequency: 440,
          height: 10,
          id: 'oscillator1',
          width: 50,
          x: 0,
          y: -50
        })
        this.connect('oscillator1', 'destination')
      },
      components: {
        'connection': Connection,
        'destination': Destination,
        'oscillator': Oscillator
      }
    })
  </script>
</body>
</html>
