<!DOCTYPE html>
<html>
<head>
  <title>
    WAAVAAW
  </title>
  <style>
    html {
      --solarized-base03: #002b36;
      --solarized-base02: #073642;
      --solarized-base01: #586e75;
      --solarized-base00: #657b83;
      --solarized-base0: #839496;
      --solarized-base1: #93a1a1;
      --solarized-base2: #eee8d5;
      --solarized-base3: #fdf6e3;
      --solarized-yellow: #b58900;
      --solarized-orange: #cb4b16;
      --solarized-red: #dc322f;
      --solarized-red-light: #ec9489;
      --solarized-magenta: #d33682;
      --solarized-violet: #6c71c4;
      --solarized-blue: #268bd2;
      --solarized-blue-light: #92c0da;
      --solarized-cyan: #2aa198;
      --solarized-green: #859900;
      --solarized-green-light: #c1c872;
    }
    html, body, #app {
      --app-background-color: var(--solarized-base2);
      background-color: var(--app-background-color);
      color: var(--solarized-base00);
      margin: 0;
      padding: 0;
      font-family: Helvetica;
      text-align: center;
    }
    #app {
      --app-header-height: 120px;
    }
    h1 {
      color: var(--solarized-base01);
      margin: 20px 0px;
    }
    h3 {
      margin: 18px 0px;
    }
    #canvas {
      --canvas-background-color: var(--solarized-base3);
      --canvas-margin: 30px;
      background-color: var(--canvas-background-color);
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      position: fixed;
      top: var(--app-header-height);
      left: var(--canvas-margin);
      height: calc(100% - var(--app-header-height) - var(--canvas-margin));
      width: calc(100% - 2 * var(--canvas-margin));
    }
    .no-click {
      pointer-events: none;
    }
    .no-select {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .node {
      cursor: move;
    }
    .destroy-button {
      fill: var(--solarized-base01);
      cursor: pointer;
    }
    .destroy-button:hover {
      fill: var(--solarized-base03);
    }
    .connector {
      cursor: pointer;
      fill: var(--solarized-base02);
    }
    .connector:hover {
      fill: var(--solarized-base00);
    }
    .toolbar {
      cursor: pointer;
    }
    text {
      fill: var(--solarized-base02);
    }
    .white-text {
      fill: var(--solarized-base2);
    }
  </style>
  <script src='https://unpkg.com/vue/dist/vue.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
</head>
<body>
  <div id='app'>

    <h1>
      WAAVAAW
    </h1>
    <h3>
      Web Audio API Visualizer And Audio Workstation
    </h3>

    <svg id='canvas' viewbox='-100 -100 200 200'>
      <template v-for='node in sortedNodes'>
        <destination
          v-if='node.type === destinationType'
          v-bind:key='node.id'
          v-bind:height.sync='node.height'
          v-bind:id='node.id'
          v-bind:name='node.name'
          v-bind:is-bottom-connector-selected='nextConnectionSourceId === node.id'
          v-bind:is-top-connector-selected='nextConnectionTargetId === node.id'
          v-bind:node='node.node'
          v-bind:width.sync='node.width'
          v-bind:x.sync='node.x'
          v-bind:y.sync='node.y'
          v-on:destroy='destroyNode(node.id)'
          v-on:select-bottom-connector="handleSelectBottomConnector(node.id)"
          v-on:select-top-connector="handleSelectTopConnector(node.id)"/>
        <gain
          v-if='node.type === gainType'
          v-bind:key='node.id'
          v-bind:height.sync='node.height'
          v-bind:id='node.id'
          v-bind:is-bottom-connector-selected='nextConnectionSourceId === node.id'
          v-bind:is-top-connector-selected='nextConnectionTargetId === node.id'
          v-bind:node='node.node'
          v-bind:width.sync='node.width'
          v-bind:x.sync='node.x'
          v-bind:y.sync='node.y'
          v-on:destroy='destroyNode(node.id)'
          v-on:select-bottom-connector="handleSelectBottomConnector(node.id)"
          v-on:select-top-connector="handleSelectTopConnector(node.id)"/>
        <oscillator
          v-if='node.type === oscillatorType'
          v-bind:key='node.id'
          v-bind:frequency='node.frequency'
          v-bind:height.sync='node.height'
          v-bind:id='node.id'
          v-bind:is-bottom-connector-selected='nextConnectionSourceId === node.id'
          v-bind:is-top-connector-selected='nextConnectionTargetId === node.id'
          v-bind:node='node.node'
          v-bind:width.sync='node.width'
          v-bind:x.sync='node.x'
          v-bind:y.sync='node.y'
          v-on:destroy='destroyNode(node.id)'
          v-on:select-bottom-connector="handleSelectBottomConnector(node.id)"
          v-on:select-top-connector="handleSelectTopConnector(node.id)"/>
      </template>
      <connection
        v-for='connection in connections'
        v-bind:key='connection.id'
        v-bind:id='connection.id'
        v-bind:source='nodes[connection.sourceId]'
        v-bind:target='nodes[connection.targetId]'
        v-on:destroy='disconnect(connection.sourceId, connection.targetId)'/>
      <toolbar
        v-on:connect='connect'
        v-on:create-gain='createGain'
        v-on:create-oscillator='createOscillator'/>
    </svg>

  </div>

  <script>
    var AUDIO_CONTEXT = new window.AudioContext()
    var DESTINATION_TYPE = 'destination'
    var GAIN_TYPE = 'gain'
    var OSCILLATOR_TYPE = 'oscillator'

    var Connection = {
      props: {
        id: { type: String, required: true },
        source: { type: Object, required: true },
        target: { type: Object, required: true }
      },
      template: (
        '<g>' +
        '<path v-bind:d="pathData" v-bind:style="style"/>' +
        '<text class="destroy-button no-select" alignment-baseline="middle" font-size="8px" text-anchor="middle" v-bind:x="destroyButtonX" v-bind:y="destroyButtonY" v-on:click="$emit(\'destroy\')"> &nbsp; x &nbsp; </text>' +
        '</g>'
      ),

      data: function () {
        return {
          destroyButtonPadding: 0,
          style: {
            fill: 'none',
            stroke: 'var(--solarized-base02)',
            strokeWidth: 0.5
          }
        }
      },
      computed: {
        destroyButtonX: function () {
          return (this.source.x + this.target.x) / 2 + this.destroyButtonPadding
        },
        destroyButtonY: function () {
          return (this.source.y + this.target.y) / 2 - this.destroyButtonPadding
        },
        pathData: function () {
          var x1 = this.source.x
          var x2 = this.target.x
          var y1 = this.source.y + this.source.height * 0.95
          var y2 = this.target.y - this.target.height * 7 / 8
          var cy = (y1 + y2) / 2
          return (
            'M' + x1 + ',' + y1 +
            ' C' + x1 + ',' + cy + ' ' + x2 + ',' + cy +
            ' ' + x2 + ',' + y2
          )
        }
      },
      mounted: function () {
        this.source.node.connect(this.target.node)
      },
      beforeDestroy: function () {
        this.source.node.disconnect(this.target.node)
      }
    }

    var Node = {
      props: {
        canDestroy: { type: Boolean, default: true },
        fill: { type: String, default: 'var(--canvas-background-color)' },
        hasBottomConnector: { type: Boolean, default: false },
        hasTopConnector: { type: Boolean, default: false },
        height: { type: Number, required: true },
        isBottomConnectorSelected: { type: Boolean, default: false },
        isTopConnectorSelected: { type: Boolean, default: false },
        label: { type: String, required: true },
        width: { type: Number, required: true },
        x: { type: Number, required: true },
        y: { type: Number, required: true }
      },
      template: (
        '<g class="node"' +
        '>' +
        '<rect' +
        ' v-bind:height="height" v-bind:width="width"' +
        ' v-bind:rx="height / 2" v-bind:ry="height / 2"' +
        ' v-bind:x="x" v-bind:y="y"' +
        ' v-bind:style="rectStyle"' +
        ' v-on:mousedown="handleMousedown"' +
        ' v-on:mouseleave="handleMouseleave"' +
        ' v-on:mousemove="handleMousemove"' +
        ' v-on:mouseup="handleMouseup"' +
        '/>' +
        '<text class="no-click no-select"' +
        ' v-bind:font-size="height / 2"' +
        ' alignment-baseline="middle" text-anchor="middle"' +
        ' v-bind:x="x" v-bind:y="y"' +
        '> {{ label }} </text>' +
        '<text v-if="canDestroy" class="destroy-button no-select"' +
        ' font-size="6px"' +
        ' alignment-baseline="middle" text-anchor="middle"' +
        ' v-bind:x="destroyButtonX" v-bind:y="destroyButtonY"' +
        ' v-on:click="$emit(\'destroy\')"' +
        '> &nbsp; x &nbsp; </text>' +
        '<polygon v-if="hasTopConnector" class="connector"' +
        ' v-bind:points="topConnectorPoints"' +
        ' v-bind:style="[connectorStyle, topConnectorStyle]"' +
        ' v-on:click="$emit(\'select-top-connector\')"' +
        '/>' +
        '<polygon v-if="hasBottomConnector" class="connector"' +
        ' v-bind:points="bottomConnectorPoints"' +
        ' v-bind:style="[connectorStyle, bottomConnectorStyle]"' +
        ' v-on:click="$emit(\'select-bottom-connector\')"' +
        '/>' +
        '</g>'
      ),
      data: function () {
        return {
          clientScaleFactor: 0,
          connectorStyle: {
            fillOpacity: '1',
            strokeWidth: 0
          },
          destroyButtonPadding: 3,
          isDragging: false,
          oldClientX: 0,
          oldClientY: 0,
          rectStyle: {
            fill: this.fill,
            fillOpacity: '1',
            stroke: 'var(--solarized-base02)',
            strokeWidth: 0.3,
            transform: 'translate(-50%, -50%)'
          }
        }
      },
      computed: {
        bottomConnectorPoints: function () {
          return (
            this.x + ',' + (this.y + this.height) + ' ' +
            (this.x + this.height / 3) + ',' + (this.y + this.height / 2) + ' ' +
            (this.x - this.height / 3) + ',' + (this.y + this.height / 2) + ' '
          )
        },
        bottomConnectorStyle: function () {
          if (this.isBottomConnectorSelected) {
            return {
              fill: 'var(--solarized-base00)'
            }
          }
          return {}
        },
        destroyButtonX: function () {
          return this.x + this.width / 2 + this.destroyButtonPadding
        },
        destroyButtonY: function () {
          return this.y - this.height / 2 - this.destroyButtonPadding
        },
        topConnectorPoints: function () {
          return (
            (this.x - this.height / 4) + ',' + (this.y - this.height / 2) + ' ' +
            (this.x + this.height / 4) + ',' + (this.y - this.height / 2) + ' ' +
            (this.x + this.height / 2) + ',' + (this.y - this.height * 7 / 8) + ' ' +
            (this.x - this.height / 2) + ',' + (this.y - this.height * 7 / 8) + ' '
          )
        },
        topConnectorStyle: function () {
          if (this.isTopConnectorSelected) {
            return {
              fill: 'var(--solarized-base00)'
            }
          }
          return {}
        }
      },
      methods: {
        handleMousedown: function (event) {
          this.isDragging = true
          this.oldClientX = event.clientX
          this.oldClientY = event.clientY
          var boundingClientRect = this.$el.parentNode.getBoundingClientRect()
          var shorterSide = Math.min(boundingClientRect.height, boundingClientRect.width)
          this.clientScaleFactor = 200 / shorterSide
        },
        handleMouseleave: function (event) {
          this.isDragging = false
        },
        handleMousemove: function (event) {
          if (this.isDragging) {
            this.$emit('update:x', this.x + this.clientScaleFactor * (event.clientX - this.oldClientX))
            this.$emit('update:y', this.y + this.clientScaleFactor * (event.clientY - this.oldClientY))
            this.oldClientX = event.clientX
            this.oldClientY = event.clientY
          }
        },
        handleMouseup: function (event) {
          this.isDragging = false
        }
      }
    }

    var Destination = {
      props: {
        height: { type: Number, required: true },
        id: { type: String, required: true },
        isBottomConnectorSelected: { type: Boolean, default: false },
        isTopConnectorSelected: { type: Boolean, default: false },
        name: { type: String, required: true },
        node: { type: window.AudioDestinationNode, required: true },
        width: { type: Number, required: true },
        x: { type: Number, required: true },
        y: { type: Number, required: true }
      },
      template: (
        '<node' +
        ' v-bind:canDestroy="false"' +
        ' fill="var(--solarized-red-light)"' +
        ' v-bind:height="height"' +
        ' v-bind:has-top-connector="true"' +
        ' v-bind:is-bottom-connector-selected="isBottomConnectorSelected"' +
        ' v-bind:is-top-connector-selected="isTopConnectorSelected"' +
        ' v-bind:label="label"' +
        ' v-bind:width="width"' +
        ' v-bind:x="x"' +
        ' v-bind:y="y"' +
        ' v-on:destroy="$emit(\'destroy\')"' +
        ' v-on:select-bottom-connector="$emit(\'select-bottom-connector\')"' +
        ' v-on:select-top-connector="$emit(\'select-top-connector\')"' +
        ' v-on:update:x="handleUpdateX"' +
        ' v-on:update:y="handleUpdateY"' +
        '/>'
      ),
      data: function () {
        return {
          style: {
            transform: 'translate(-50%, -50%)'
          }
        }
      },
      computed: {
        label: function () {
          return this.name
        }
      },
      methods: {
        handleUpdateX: function (newValue) {
          this.$emit('update:x', newValue)
        },
        handleUpdateY: function (newValue) {
          this.$emit('update:y', newValue)
        }
      },
      components: {
        'node': Node
      }
    }

    var Gain = {
      props: {
        height: { type: Number, required: true },
        id: { type: String, required: true },
        isBottomConnectorSelected: { type: Boolean, default: false },
        isTopConnectorSelected: { type: Boolean, default: false },
        node: { type: window.GainNode, required: true },
        width: { type: Number, required: true },
        x: { type: Number, required: true },
        y: { type: Number, required: true }
      },
      template: (
        '<node' +
        ' fill="var(--solarized-blue-light)"' +
        ' v-bind:height="height"' +
        ' v-bind:has-bottom-connector="true"' +
        ' v-bind:has-top-connector="true"' +
        ' v-bind:is-bottom-connector-selected="isBottomConnectorSelected"' +
        ' v-bind:is-top-connector-selected="isTopConnectorSelected"' +
        ' v-bind:label="label"' +
        ' v-bind:width="width"' +
        ' v-bind:x="x"' +
        ' v-bind:y="y"' +
        ' v-on:destroy="$emit(\'destroy\')"' +
        ' v-on:select-bottom-connector="$emit(\'select-bottom-connector\')"' +
        ' v-on:select-top-connector="$emit(\'select-top-connector\')"' +
        ' v-on:update:x="handleUpdateX"' +
        ' v-on:update:y="handleUpdateY"' +
        '/>'
      ),
      data: function () {
        return {
          style: {
            transform: 'translate(-50%, -50%)'
          }
        }
      },
      computed: {
        label: function () {
          return 100 * this.node.gain.value + '%'
        }
      },
      methods: {
        handleUpdateX: function (newValue) {
          this.$emit('update:x', newValue)
        },
        handleUpdateY: function (newValue) {
          this.$emit('update:y', newValue)
        }
      },
      components: {
        'node': Node
      }
    }

    var Oscillator = {
      props: {
        frequency: { type: Number, required: true },
        height: { type: Number, required: true },
        id: { type: String, required: true },
        isBottomConnectorSelected: { type: Boolean, default: false },
        isTopConnectorSelected: { type: Boolean, default: false },
        node: { type: window.OscillatorNode, required: true },
        width: { type: Number, required: true },
        x: { type: Number, required: true },
        y: { type: Number, required: true }
      },
      template: (
        '<node' +
        ' fill="var(--solarized-green-light)"' +
        ' v-bind:height="height"' +
        ' v-bind:has-bottom-connector="true"' +
        ' v-bind:is-bottom-connector-selected="isBottomConnectorSelected"' +
        ' v-bind:is-top-connector-selected="isTopConnectorSelected"' +
        ' v-bind:label="label"' +
        ' v-bind:width="width"' +
        ' v-bind:x="x"' +
        ' v-bind:y="y"' +
        ' v-on:destroy="$emit(\'destroy\')"' +
        ' v-on:select-bottom-connector="$emit(\'select-bottom-connector\')"' +
        ' v-on:select-top-connector="$emit(\'select-top-connector\')"' +
        ' v-on:update:x="handleUpdateX"' +
        ' v-on:update:y="handleUpdateY"' +
        '/>'
      ),
      data: function () {
        return {
          style: {
            transform: 'translate(-50%, -50%)'
          }
        }
      },
      computed: {
        label: function () {
          return this.node.frequency.value + ' Hz'
        }
      },
      methods: {
        handleUpdateX: function (newValue) {
          this.$emit('update:x', newValue)
        },
        handleUpdateY: function (newValue) {
          this.$emit('update:y', newValue)
        }
      },
      mounted: function () {
        this.node.start(0)
      },
      beforeDestroy: function () {
        this.node.stop()
      },
      components: {
        'node': Node
      }
    }

    var Toolbar = {
      template: (
        '<g class="toolbar">' +
        '<rect v-bind:height="rectHeight" v-bind:width="rectWidth"' +
        ' v-bind:x="createOscillatorX" v-bind:y="createOscillatorY"' +
        ' v-bind:style="[rectStyle, createOscillatorRectStyle]"' +
        ' v-on:click="createOscillator"' +
        '/>' +
        '<text class="no-click no-select" alignment-baseline="middle"' +
        ' v-bind:font-size="rectHeight / 2" text-anchor="middle"' +
        ' v-bind:x="createOscillatorX" v-bind:y="createOscillatorY"' +
        '> New Oscillator </text>' +
        '<rect v-bind:height="rectHeight" v-bind:width="rectWidth"' +
        ' v-bind:x="gainX" v-bind:y="gainY"' +
        ' v-bind:style="[rectStyle, gainRectStyle]" v-on:click="createGain"' +
        '/>' +
        '<text class="no-click no-select" alignment-baseline="middle"' +
        ' v-bind:font-size="rectHeight / 2" text-anchor="middle"' +
        ' v-bind:x="gainX" v-bind:y="gainY"' +
        '> New Gain </text>' +
        '</g>'
      ),
      data: function () {
        return {
          rectHeight: 10,
          rectStyle: {
            fillOpacity: '1',
            stroke: 'var(--solarized-base02)',
            strokeWidth: 0.3,
            transform: 'translate(-50%, -50%)'
          },
          rectWidth: 50
        }
      },
      computed: {
        createOscillatorRectStyle: function () {
          return { fill: 'var(--solarized-green-light)' }
        },
        createOscillatorX: function () {
          return 0 - this.rectWidth / 2
        },
        createOscillatorY: function () {
          return 0 - 100 + this.rectHeight / 2 + this.rectStyle.strokeWidth
        },
        gainRectStyle: function () {
          return { fill: 'var(--solarized-blue-light)' }
        },
        gainX: function () {
          return this.rectWidth / 2
        },
        gainY: function () {
          return 0 - 100 + this.rectHeight / 2 + this.rectStyle.strokeWidth
        }
      },
      methods: {
        connect: function () {
          this.$emit('connect', 'oscillator1', 'gain1')
          this.$emit('connect', 'gain1', 'destination')
        },
        createGain: function () {
          this.$emit('create-gain', {
            height: 10,
            id: 'gain1',
            width: 50,
            x: 0,
            y: 0
          })
        },
        createOscillator: function () {
          this.$emit('create-oscillator', {
            frequency: 440,
            height: 10,
            id: 'oscillator1',
            width: 50,
            x: 0,
            y: -50
          })
        },
        handleMousedown: function (event) {
          this.isDragging = true
          this.oldClientX = event.clientX
          this.oldClientY = event.clientY
          var boundingClientRect = this.$el.parentNode.getBoundingClientRect()
          var shorterSide = Math.min(boundingClientRect.height, boundingClientRect.width)
          this.clientScaleFactor = 200 / shorterSide
        },
        handleMouseleave: function (event) {
          this.isDragging = false
        },
        handleMousemove: function (event) {
          if (this.isDragging) {
            this.$emit('update:x', this.x + this.clientScaleFactor * (event.clientX - this.oldClientX))
            this.$emit('update:y', this.y + this.clientScaleFactor * (event.clientY - this.oldClientY))
            this.oldClientX = event.clientX
            this.oldClientY = event.clientY
          }
        },
        handleMouseup: function (event) {
          this.isDragging = false
        }
      }
    }

    window.vm = new Vue({
      el: '#app',
      data: function () {
        return {
          audioContext: AUDIO_CONTEXT,
          connections: {},
          destinationType: DESTINATION_TYPE,
          drawOrder: ['destination'],
          gainType: GAIN_TYPE,
          nextConnectionSourceId: null,
          nextConnectionTargetId: null,
          nodes: {
            destination: {
              height: 10,
              id: 'destination',
              name: 'Destination',
              node: AUDIO_CONTEXT.destination,
              type: DESTINATION_TYPE,
              width: 50,
              x: 0,
              y: 50
            }
          },
          oscillatorType: OSCILLATOR_TYPE
        }
      },
      computed: {
        sortedNodes: function () {
          var component = this
          var nodes = _.values(component.nodes)
          return _.sortBy(
            nodes,
            function (node) {
              return component.drawOrder.indexOf(node.id)
            }
          )
        }
      },
      methods: {
        connect: function (sourceId, targetId) {
          if (!this.nodes[sourceId] || !this.nodes[targetId]) return
          var oldConnectionId = this.findOldConnectionId(sourceId, targetId)
          if (!oldConnectionId) {
            var newConnectionId = sourceId + '_to_' + targetId
            Vue.set(this.connections, newConnectionId, {
              id: newConnectionId,
              sourceId: sourceId,
              targetId: targetId
            })
          }
        },
        createGain: function (gainInfo) {
          var oldNodeId = this.findOldNodeId(gainInfo.id)
          if (!oldNodeId) {
            Vue.set(this.nodes, gainInfo.id, Object.assign(gainInfo, {
              node: this.audioContext.createGain(),
              type: GAIN_TYPE
            }))
            this.drawOrder.push(gainInfo.id)
          }
        },
        createOscillator: function (oscillatorInfo) {
          var oldNodeId = this.findOldNodeId(oscillatorInfo.id)
          if (!oldNodeId) {
            Vue.set(this.nodes, oscillatorInfo.id, Object.assign(oscillatorInfo, {
              node: this.audioContext.createOscillator(oscillatorInfo.frequency),
              type: OSCILLATOR_TYPE
            }))
            this.drawOrder.push(oscillatorInfo.id)
          }
        },
        destroyNode: function (nodeId) {
          var component = this
          _.values(component.connections).forEach(function (connection) {
            if (connection.sourceId === nodeId || connection.targetId === nodeId) {
              component.disconnect(connection.sourceId, connection.targetId)
            }
          })
          if (this.nodes[nodeId]) {
            Vue.delete(this.nodes, nodeId)
          }
        },
        disconnect: function (sourceId, targetId) {
          var oldConnectionId = this.findOldConnectionId(sourceId, targetId)
          if (oldConnectionId) {
            Vue.delete(this.connections, oldConnectionId)
          }
        },
        findOldConnectionId: function (sourceId, targetId) {
          return _.findKey(
            this.connections,
            function (connection) {
              return connection.sourceId === sourceId && connection.targetId === targetId
            }
          )
        },
        findOldNodeId: function (nodeId) {
          return _.findKey(
            this.nodes,
            function (node) {
              return node.id === nodeId
            }
          )
        },
        handleClickCanvas: function () {
          this.resetNextConnection()
        },
        handleSelectBottomConnector: function (nodeId) {
          if (this.nextConnectionTargetId === nodeId) return
          if (this.nextConnectionTargetId) {
            this.connect(nodeId, this.nextConnectionTargetId)
            this.resetNextConnection()
          } else {
            this.nextConnectionSourceId = nodeId
          }
        },
        handleSelectTopConnector: function (nodeId) {
          if (this.nextConnectionSourceId === nodeId) return
          if (this.nextConnectionSourceId) {
            this.connect(this.nextConnectionSourceId, nodeId)
            this.resetNextConnection()
          } else {
            this.nextConnectionTargetId = nodeId
          }
        },
        resetNextConnection: function () {
          this.nextConnectionSourceId = null
          this.nextConnectionTargetId = null
        }
      },
      components: {
        'connection': Connection,
        'destination': Destination,
        'gain': Gain,
        'oscillator': Oscillator,
        'toolbar': Toolbar
      }
    })
  </script>
</body>
</html>
